@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root {
    --main-width: 1140px;
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/*main-page-header*/

#main-page-header {
    position: fixed;
    top: 10px;
    z-index: 250;
    left: 0;
    right: 0;
}

#main-page-header .header-nav {
    max-width: var(--main-width);
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-page-header  .menu-contacts {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#main-page-header .header-nav span {
    margin: 0 0 0 10px;
    color: white;
}

#main-page-header .header-nav .menu {
    width: 484px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#main-page-header .menu a {
    text-decoration: none;
    margin: 0 0 0 10px;
    color: white;
}

/*introduction*/

#introduction {
    background-image: url("../img/bg.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 722px;
}
#introduction .wrapper {
    max-width: var(--main-width);
    margin: auto;
    padding-top: 80px;
    color: white;
    font-weight: bold;
}

#introduction .wrapper .pre-header {
    font-size: 60px;
    margin: 20px 0;

}

#introduction .wrapper .text-box {
    margin-top: 30px;
}
#introduction .wrapper .btn{
    padding: 10px 40px;
    background-color: white;
    border-radius: 20px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    transition: 0.3s all;
}

#introduction .wrapper .btn:hover{
    background-color: transparent;
    color: white;
    border-color: white;
}

#video-section .wrapper {
    max-width: var(--main-width);
    margin: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
}

#video-section .wrapper .video-box {
    width: 50%;

}

#video-section .video-box .video {
    width: 100%;
    height: 350px;
    border-radius: 8px;
}


#video-section .wrapper .video-description {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 10px 10px 114px;
}

/*section id="dishes*/

#dishes {
    background: url(../img/xmenu-bg.jpg.pagespeed.ic.xYr9qBvnG1.webp) center;
    background-size: cover;
    padding: 120px 0;
}

#dishes .wrapper {
    max-width: var(--main-width);
    margin: auto;
}

#dishes .wrapper .header {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: 600;
    font-size: 36px;
}

#dishes .wrapper .small-header {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}


#dishes .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

#dishes .items .item {
    width: 350px;
    height: 147px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgb(182 136 52 / 20%);
    border-radius: 10px;
    margin-bottom: 45px;
    padding: 30px 30px;
    box-sizing:border-box;
}

#dishes .items .name-price {
    display: flex;
    justify-content: space-between;
}

#dishes .item .name {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: 600;
}

#dishes .item .price {
    color: #b68834;
    font-size: 18px;
    font-weight: 600;
} 

#dishes .item .info {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
}

/*div class="video-description*/

#video-section .first-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b68834;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

#video-section .bolt-header {
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

#video-section .small-header {
    color: #000;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#video-section .text {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    margin: 10px 0;
}

#video-section .signature {

}

/*------section id="pictures-block------------*/

#pictures-block .wrapper {
    max-width: var(--main-width);
    margin: auto;
}

#pictures-block .pictures {
    min-height: 741px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pictures-block .pictures .item img {
    transition: 0.4s all;
}

#pictures-block .pictures .item img:hover {
    transform: translate(-7px, -7px);
    box-shadow: 3px 3px 6px 3px #333;
    cursor: pointer;
}

#pictures-block .pictures .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pictures-block .pictures .right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#pictures-block .pictures .bottom {
    display: flex;
    justify-content: space-between;
}














